* {
  font-family: Roboto, system, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

}
body {
  background-color: #EAEAEA;
	margin: 0;
}
#wrapper {
  max-width: 1280px;
  color: #000066;
	background-color: #FFFFFF;
  width: 80%;
	margin: auto;
}
header {
  color: #280E3B;
  /*background-color: rgba(170, 150, 185);*/
  background-color: #632A7E;
	background-image: url(images/logo_transparent.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-top: 0;
	padding-bottom: 1em;
	height: auto;
}
header h1 {
  padding-left: 120px;
  padding-top: 40px;
	margin: 0;
 }
header span {
  font-style: italic;
	font-weight: bold;
  font-size: 95%;
	color: #FFFFFF;
  padding-left: 15em;
  margin-top: -0.5em;
}
nav {
  /*background-color: #632A7E;*/
  background-color: rgba(170, 150, 185);
	letter-spacing: 0.1em;
	font-weight: bold;
	text-align: right;
	padding-right: 2em;
  position: relative;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul ul {
  position: absolute; background-color: #D3B7D8;
  padding: 0; text-align: left; display: none;
}
nav ul ul li {
  border: 1px solid #00005D;
  display: block;
  width: 8em;
  padding-left: 1em;
  margin-left: 0;
}

nav li {
  padding: 0.5em;
  display: inline-block;
}
nav li:hover ul {
  display: block;
}
nav a {
  text-decoration: none;
  display: block;
}
nav a:link {
  color: #FFFFFF;
}
nav a:visited {
  color: #EAEAEA;
}
nav a:hover {
  color: #D3DBEB;
}
main {
  /*background-color: #632A7E;*/
  background-color: rgba(170, 150, 185);
  color: #000000;
	padding: 10px 20px;
	overflow: auto;
  min-height: 400px;
}

h2 {
  color: #632A7E;
  margin: 5px;
  font-family: Sofia;
}


footer {
  font-size:70%;
  text-align: center;
  padding: 10px;
	clear: both;
}

header, main, nav, footer, figure, figcaption {
  display: block;
}
.my_content {
  background-image: url(images/bariloche1.png);
  background-repeat: no-repeat;
	margin: auto;
 	height: 480px;
 	padding-top: 20px;
}

.my_button {
  text-align: center;
  height: 100px;
  padding-top: 15px;
  width: 100%;
  }

  .my_button input {
    width: 100%
  }

.title {
  background-color: #FFFFFF;
  opacity: 0.6;
  font-family: Sofia;
  font-size: 2em;
 	padding: 10px;
  margin-left: 40px;
}
.desicion {
  text-align: center;
  height: 176px;
  }
.desicion img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    padding: 20px 0;
  }
.service-icon {
    text-align: center;
    height: 176px;
  }

.service-icon img {
    display: inline-block;
    max-width: 180px;
    height: 176px;
    vertical-align: middle;
    padding: 20px 0;
  }

h3 {
    font-size: 20px;
    margin: 35px 0 25px;
    font-weight: 800;
    color: #3d3d3d;
    text-transform: uppercase;
  }

.hoverServices:hover {
    background-color: #f2f2f2;
  }


#module {
  font-size: 1rem;
  line-height: 1.5;
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  height: 3rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 3rem;
}

#module a.collapsed::after {
  content: '+ Show More';
}

#module a:not(.collapsed)::after {
  content: '- Show Less';
}

#pets {
  align-items: center;
}
#pets2 {
  padding-top: 15px;
}
  @media (min-width: 978px) {
    .services-box {
      margin-right: 0;
      height: 550px;
    }

    .services-box.last {
      border-right: 0;
    }
  }
